name: Build Windows EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Compile
      run: |
        g++ autoclicker.cpp -o autoclicker.exe -static -O2

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: autoclicker
        path: autoclicker.exe
