name: Build Svhost EXE

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build EXE
        run: |
          g++ Svhost.cpp -o Svhost.exe -static -O2 -mwindows

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: Svhost
          path: Svhost.exe
